<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <h3 class="text-center">プロフィール</h3>
    　　</div>
    　　<div class="panel-footer"></div>
　　　</div>
  　</div>
    <div class="col-sm-9 col-md-6">
      <%= render 'layouts/tweet' %>
  　</div>
    <div class="col-sm-6 col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-info">
        <div class="panel-body">
          <h3 class="text-center">おすすめユーザー</h3>
    　　</div>
    　　<div class="panel-footer"></div>
　　　</div>
  　</div>
  </div>
</div>